body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    margin-top: 70px;
}
.content {
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content h2 {
    color: #333;
}
.faq {
    margin: 20px 0;
}
.faq-item {
    margin-bottom: 15px;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 10px;
    background: #f9f9f9;
}
.faq-question {
    cursor: pointer;
    position: relative;
    padding-right: 25px;
    font-weight: bold;
    font-size: 1.5rem;
}
.faq-question:after {
    content: '+';
    position: absolute;
    right: 0;
    
}
.faq-answer {
    display: none;
    margin-top: 15px;
    padding-top: 10px;
    border-top: 1px solid #ddd;
    font-size: 1.5rem;
}
.faq-item.active .faq-question:after {
    content: '-';
}
.faq-item.active .faq-answer {
    display: block;
}